# Replace the credentials here with your own.
# Rename this file to .env before running run.py.

# Watson conversation
CONVERSATION_USERNAME=e6ca86f1-302a-4803-b408-7949c7abaa1a
CONVERSATION_PASSWORD=PQ6fjelpPyPx
WORKSPACE_ID=19849a01-19e4-47ad-bg3f-6cafe376aeed

# Cloudant DB
CLOUDANT_USERNAME="715ac810-921f-4290-92fc-061642ee4b3a-bluemix"
CLOUDANT_PASSWORD="25fdf0c1411d2584b693c9f8aeda9b260b23656ec32c0da0839ed1cf7c2bd594"
CLOUDANT_DB_NAME="cloudant_online_store"
CLOUDANT_URL="https://715ac810-921f-4290-92fc-061642ee4b3a-bluemix.cloudant.com"

# Watson Discovery and Data Source
DISCOVERY_USERNAME=03c25743-4728-448e-b3ed-3b198e6edd65
DISCOVERY_PASSWORD=4LDhpX27q7QZ
DISCOVERY_ENVIRONMENT_ID=a2e0e223-aec9-458e-95b5-d4d618e1ae6d
# IBM Store Discovery Data Source
IBM_STORE_DISCO_COLLECTION_ID=d06e9ddf-7c27-4dce-b80f-dca8768a72d8
IBM_STORE_DISCO_SCORE_FILTER=.15
# Amazon Store Discovery Data Source
AMAZON_DISCO_COLLECTION_ID=a16e9ddf-7c31-4dce-b80f-9ba8768a72b3
AMAZON_DISCO_SCORE_FILTER=.20
# Choose data source by uncommenting appropriate line below
DISCOVERY_DATA_SOURCE="IBM_STORE"
# DISCOVERY_DATA_SOURCE="AMAZON"

# Slack
SLACK_BOT_TOKEN=xoxb-cbe837f60865-bjgftpFM6tnJXTvZzIw8Ihui
SLACK_BOT_NAME=hal

