# Copy this file to .env and replace the credentials with 
# your own before running run.py.

# Watson Assistant
WORKSPACE_ID=<add_assistant_skill>
ASSISTANT_URL=<add_assistant_url>
ASSISTANT_APIKEY=<add_assistant_apikey>

# Cloudant DB
CLOUDANT_USERNAME=<add_cloudant_username>
CLOUDANT_DB_NAME=watson-online-store
CLOUDANT_URL=<add_cloudant_url>
CLOUDANT_IAM_APIKEY=<add_cloudant_iam_apikey>

# Watson Discovery
DISCOVERY_URL=<add_discovery_url>
DISCOVERY_ENVIRONMENT_ID=<add_discovery_environment>
DISCOVERY_COLLECTION_ID=<add_discovery_collection>
DISCOVERY_APIKEY=<add_discovery_apikey>

# <Optional> - Slack
# If not set, only the web UI is available to test.
SLACK_BOT_TOKEN=<add_slack_bot_token>
SLACK_BOT_USER=<add_slack_bot_username>
