# Replace the credentials here with your own.
# Rename this file to .env before running run.py.

# Watson conversation
CONVERSATION_USERNAME=<add_converstaion_username>
CONVERSATION_PASSWORD=<add_converstaion_passsord>
WORKSPACE_ID=<add_converstaion_workspance>

# Cloudant DB
CLOUDANT_USERNAME=<add_cloudant_username>
CLOUDANT_PASSWORD=<add_cloudant_password>
CLOUDANT_DB_NAME=<add_cloudant_db_name>
CLOUDANT_URL=<add_cloudant_url>

# Watson Discovery
DISCOVERY_USERNAME=<add_discovery_username>
DISCOVERY_PASSWORD=<add_discovery_password>
DISCOVERY_ENVIRONMENT_ID=<add_discovery_environment>
DISCOVERY_COLLECTION_ID=<add_discovery_collection>

# Slack
SLACK_BOT_TOKEN=<add_slack_bot_token>
SLACK_BOT_USER=wos
